html,body {
    color: #505050;
    line-height: 1.75em;
    background: #ebebeb;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    min-height: 100%;
    height: 100%;
}
button {
    cursor: pointer;
    outline: none;
}
button:focus {
    outline: none;
}
.main-content {
    min-height: 100%;
    height: 100%;
    padding: 0;
    position: relative;
}
.hide {
    height: 100%;
    position: fixed;
    background-color: #222;
    border-color:#080808;
    border-width: 0 1px 0 0;
    overflow-y: auto;
    width: 0;
    transition:width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
}
.hide .hide-inner{
    width:300px;
    padding: 20px;
    margin: 0;
}
.hide .search {
    color: #777;
}
.hide .nav-menu {
    margin:48px 0 0;
    color: #777;
}
.hide .widget ul {
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    list-style: none;
    padding-left:0px;
}
.hide .widget ul > li {
    border-top: 1px solid rgba(255,255,255,0.1);
    display: block;
}
.hide .nav-menu .menu-item > a {
    color: #777;
    font-size:14px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    line-height: 1.5;
}
.hide .nav-menu .menu-item > a:hover {
    color: #fff;
}
.hide .nav-menu .active > a{
    color: #fff;
    background-color: #080808;
}
.hide .categories {
    margin: 48px 0 0;
    color:#777;
}
.hide .categories ul {
    margin: 0;
    padding: 0;
    font-size:12px;
    line-height: 1.5;
}
.hide .categories li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 0;
}
.hide .categories a {
    color: #fff;
    text-decoration: none;
}
.hide .categories li:before {
    display: inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    color: #555;
    margin-right:10px;
    font-size:14px;
    content:"\f07c";
}
.hide .tag {
    margin: 48px 0 0;
    color:#777;
}
.hide .tag ul {
    margin: 0;
    padding: 0;
    font-size:12px;
    line-height: 1.5;
}
.hide .tag li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 0;
}
.hide .tag a {
    color:#fff;
    text-decoration: none;
}
.hide .tag li:before {
    display: inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    color: #555;
    margin-right:10px;
    font-size:14px;
    content:"\f07c";
}
.widget .widget-title {
    font-family:"Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    margin: 0 0 12px;
}
.show {
    min-height: 100%;
    height: 100%;
    width: 100%;
    left:0;
    transition:left 1s;
    -webkit-transition: left 1s;
    -moz-transition:left 1s;
    -o-transition:left 1s;
}
.main-content.show-all .hide{
    width:300px;
}
.main-content.show-all .show{
    left:300px;
    position: fixed;
}
.show .left-col {
    width: 300px;
    background-color: #cccccc;
    height: 100%;
    position: fixed;
    background: url(../img/aside.jpg) center bottom no-repeat;
}

.show .left-col .navbar-toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
}

.show .left-col .profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
}


.show .left-col .profile .avatar{
    margin:0 auto;
    width: 130px;
    height: 130px;
    border: 0;
    border-radius: 50%;
}

.show .left-col .profile .avatar img{
    width: 130px;
    height: 130px;
    border: 0;
    border-radius: 50%;
    transition:all 1.6s cubic-bezier(.17,.67,.62,1.22);
    -webkit-transition:all 1.6s cubic-bezier(.17,.67,.62,1.22);
    -moz-transition:all 1.6s cubic-bezier(.17,.67,.62,1.22);
    -o-transition:all 1.6s cubic-bezier(.17,.67,.62,1.22);
}

.show .left-col .profile .avatar img:hover{
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.show .left-col .profile .header-author {
    cursor:pointer;
    text-align: center;
    letter-spacing: 2px;
    font-weight:100;
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition:all 0.5s;
}

.show .left-col .profile .header-author:hover {
    letter-spacing: 5px;
}

.show .left-col .profile .header-subtitle {
    text-align: center;
    margin:15px 0;
    color:#fff;
}



.show .right-col {
    position: absolute;
    min-height: 100%;
    left: 300px;
    top: 0px;
}

.post {
    margin: 30px;
    padding: 30px;
    background: #ffffff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.post .post-header {
    text-align: center;
}

.post .post-header .post-title {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}

.post .post-header .post-title a {
    color: #303030;
}
.post .post-header .post-title a:hover,
.post .post-header .post-title a:focus {
    text-decoration: none;
}
.post .post-header .post-meta {
    color: #959595;
    margin: 14px 0 0px;
}
.post .post-header .post-meta span {
    margin: 0px 7px;
    white-space: nowrap;
}
.post .post-content {
    margin: 30px 0;
}
.post .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}
.post .post-footer .tag-list {
    color: #959595;
    line-height: 28px;
}
.post .post-footer .tag-list a {
    color: #959595;
    margin-left: 7px;
}
.post .post-footer .tag-list a:hover {
    color: #e67e22;
}