<!DOCTYPE html>
<html lang="zh">
<head>
    <title><%= config.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- css('css/style') %>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("show-all").onclick=function(){
                document.getElementById("main-content").classList.toggle("show-all");
            };
        };
    </script>
</head>