<button id="show-all" type="button" class="navbar-toggle">
    <i class="fa fa-bars"></i>
</button>
<div class="profile">
    <div class="avatar">
        <a href="/">
            <img class="img-thumbnail" src="/img/avatar.jpg" alt="">
        </a>
    </div>
    <div class="header-author">
        <h1>zer0i3</h1>
    </div>
    <hr class="divider">
    <div class="header-subtitle">
        <p class="description">全新的Ghost文档</p>
    </div>
    <hr class="divider">
    <div class="social">
        <a href="#" class="fa fa-envelope fa-2x"></a>
        <a href="https://github.com/zer0i3" class="fa fa-github fa-2x"></a>
        <a href="#" class="fa fa-feed fa-2x"></a>
    </div>
</div>