.hide {
    height: 100%;
    position: fixed;
    background-color: #222;
    border-color:#080808;
    border-width: 0 1px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 0;
    transition:width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
}
.hide .hide-inner{
    width:300px;
    padding: 20px;
    margin: 0;
}
.hide .search {
    color: #777;
}
.hide .nav-menu {
    margin:48px 0 0;
    color: #777;
}
.hide .widget ul {
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    list-style: none;
    padding-left:0px;
}
.hide .widget ul > li {
    border-top: 1px solid rgba(255,255,255,0.1);
    display: block;
}
.hide .nav-menu .menu-item > a {
    color: #777;
    font-size:14px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    line-height: 1.5;
}
.hide .nav-menu .menu-item > a:hover {
    color: #fff;
}
.hide .nav-menu .active > a{
    color: #fff;
    background-color: #080808;
}
.hide .categories {
    margin: 40px 0 0;
    color:#777;
}
.hide .categories .archive-list {
    margin: 0;
    padding: 0;
    font-size:12px;
    line-height: 1.5;
}
.hide .categories .archive-list-item {
    padding: 10px 0;
}
.hide .categories .archive-list-link {
    color: #fff;
    text-decoration: none;
}
.hide .categories .archive-list-count {
    font-size:1.2em;
    margin:0 10px;
}
.hide .categories li:before {
    display: inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    color: #555;
    margin-right:10px;
    font-size:14px;
    content:"\f07c";
}
.hide .tag {
    margin: 30px 0 0;
    color:#777;
}
.hide .tag.widget ul {
    margin:10px auto;
    border:0;
}
.tag .tag-list .tag-list-item {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.tag .tag-list .tag-list-item:hover{
    color: #000;
    background: #ffffff;
}
.tag .tag-list .tag-list-item .tag-list-link{
    text-decoration: none;
}
.tag .tag-list .tag-list-count{
    margin:0 10px;
}
.widget .widget-title {
    font-family:"Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    margin: 0 0 12px;
}




.hide::-webkit-scrollbar {
width: 4px;
}
.hide::-webkit-scrollbar-track {
background-color: #fff;
border-left: 1px solid #666;
}
.hide::-webkit-scrollbar-thumb {
background-color: #999;
}
.hide::-webkit-scrollbar-thumb:hover {
background-color: #666;
}
.hide::-webkit-scrollbar-thumb:active{
background-color:#333;
}